nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-line-through {
  display: none;
}

nav ul {
  display: none;
}

.open,
.close {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(26, 26, 43, 0);
  backdrop-filter: blur(35px);
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  padding: 5rem 1rem 0;
  width: 254px;
  transition: 900ms ease, opacity 900ms ease, visibility 900ms ease;
  z-index: -1;
}

.open {
  visibility: visible;
  opacity: 1;
  animation: menuOpen 900ms;
}

@keyframes menuOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.close {
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  animation: menuClose 900ms;
}

@keyframes menuClose {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(100%);
  }
}

nav li {
  list-style: none;
  padding: 15px;
}

nav li a,
span {
  text-decoration: none;
  color: #fff;
  padding: 1rem 0;
}

.nav-page,
li a > span {
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed";
  font-weight: normal;
}
li a > span {
  font-weight: bold;
  padding-right: 5px;
}

.nav-link:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

@media (min-width: 568px) {
  #hamburger {
    display: none;
  }

  nav {
    padding: 0;
    margin-left: 3rem;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  nav ul.close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
    height: 90px;
    width: 100%;
    background-color: rgba(26, 26, 43, 0.622);
    gap: 1.5rem;
    padding: 0 35px;
    position: relative;
    transition: none;
    z-index: 1;
    animation: none;
  }

  nav li {
    padding: 2rem 0px;
  }
  nav li:nth-child(1) {
    padding-left: 15px;
  }

  nav li a,
  span {
    padding: 2rem 0;
  }

  .nav-page-code {
    display: none;
  }
}

@media (min-width: 1440px) {
  nav {
    padding-top: 2rem;
    position: relative;
  }

  .nav-line-con {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .nav-line-through {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #979797;
    margin-left: 4rem;
    position: absolute;
    z-index: 2;
  }

  nav li {
    padding: 2.3rem 0px;
  }

  nav li a,
  span {
    padding: 2.3rem 0;
  }

  .nav-page {
    justify-content: space-evenly;
    width: 830px;
    height: 92px;
    backdrop-filter: blur(15px);
    padding-right: 7rem;
    padding-left: 3rem;
  }
  .nav-page-code {
    display: inline;
  }
}
