.Carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}
.carousel-slide {
  height: 222px;
  width: auto;
}

.carousel-slide-hidden {
  display: none;
}
