@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mobile */
body {
  margin: 0;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 374px;
}

.mobile-bg-home,
.destination-bg,
.crew-bg,
.technology-bg {
  min-height: 100vh;
  background-image: url(/public/assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #d0d6f9;
  text-align: center;
  padding: 0 10px;
}

.mobile-explore-btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-family: bellefair;
  background-color: #ffffff;
  margin: 5rem auto 0;
  letter-spacing: 1.25px;
  color: #0b0d17;
  display: grid;
  place-content: center;
  text-decoration: none;
}

.mobile-explore-btn:visited,
.mobile-explore-btn:active {
  color: #0b0d17;
}

.destination-bg {
  min-height: 100vh;
  background-image: url(/public/assets/destination/background-destination-mobile.jpg);
}
.page-heading-id {
  font-weight: bold;
  font-size: 16px;
  color: #d9d9d94f;
  margin-right: 10px;
}

.page-heading {
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed";
  margin-bottom: 10px;
  color: #fff;
}

.planet-image {
  width: 170px;
  height: 170px;
}

.destination-names {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed";
}

.active-dest-name {
  font-family: "Bellefair";
  font-weight: lighter;
  font-size: 56px;
  color: #fff;
  margin: 15px 0 10px;
}

.demaction-line {
  height: 1px;
  background-color: #383b4b;
  margin: 2rem 0;
}

.distance-time-container {
  margin-bottom: 2rem;
}

.travel-distance-time {
  padding: 0;
  font-size: 14px;
  letter-spacing: 2.36px;
  font-family: "Barlow Condensed";
}
.travel-distance-time-value {
  font-size: 28px;
  color: #fff;
  font-family: "Bellefair";
}

/* CREW */
.crew-bg {
  min-height: 100vh;
  background-image: url(/public/assets/crew/background-crew-mobile.jpg);
}

.crew-role,
.crew-name {
  font-family: "Bellefair";
  font-weight: lighter;
  color: #d9d9d9ab;
  font-size: 16px;
  margin-bottom: 10px;
}

.crew-name {
  font-size: 24px;
  color: #d9d9d9;
  margin-bottom: 15px;
}

.crew-bio {
  font-family: "Barlow";
  font-size: 15px;
  font-weight: lighter;
  line-height: 25px;
  color: #d0d6f9;
}

/* Technology */

.technology-bg {
  min-height: 100vh;
  background-image: url(/public/assets/technology/background-technology-mobile.jpg);
}
