@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mobile */
body {
  margin: 0;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
}

.mobile-bg-home,
.destination-bg,
.crew-bg,
.technology-bg {
  min-height: 100vh;
  background-image: url(/public/assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #d0d6f9;
  text-align: center;
  padding: 0 10px;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.home-title {
  font-size: 80px;
  line-height: 100px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-family: "bellefair";
}
.home-page-paragraph {
  font-family: "Barlow";
  line-height: 25px;
}
.mobile-explore-btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-family: bellefair;
  background-color: #ffffff;
  margin: 5rem auto 0;
  letter-spacing: 1.25px;
  color: #0b0d17;
  display: grid;
  place-content: center;
  text-decoration: none;
}

.mobile-explore-btn:visited,
.mobile-explore-btn:active {
  color: #0b0d17;
}

.destination-bg {
  min-height: 100vh;
  background-image: url(/public/assets/destination/background-destination-mobile.jpg);
}
.page-heading-id {
  font-weight: bold;
  font-size: 16px;
  color: #d9d9d94f;
  margin-right: 10px;
}

.page-heading {
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed";
  margin-bottom: 10px;
  color: #fff;
}

.planet-image {
  width: 170px;
  height: 170px;
  animation: spin 8s linear 100ms infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.destination-names {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed";
}

.active-dest-name {
  font-family: "Bellefair";
  font-weight: lighter;
  font-size: 56px;
  color: #fff;
  margin: 15px 0 10px;
}

.dest-content {
  line-height: 25px;
}

.demaction-line {
  height: 1px;
  background-color: #383b4b;
  margin: 2rem 0;
}

.distance-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.travel-distance-time {
  padding: 0;
  font-size: 14px;
  letter-spacing: 2.36px;
  font-family: "Barlow Condensed";
}
.travel-distance-time-value {
  font-size: 28px;
  color: #d9d9d9;
  font-family: "Bellefair";
}

/* CREW */
.crew-bg {
  min-height: 100vh;
  background-image: url(/public/assets/crew/background-crew-mobile.jpg);
}

span.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.indicator {
  background-color: white;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100%;
  border: none;
  outline: none;
}

.indicator-inactive {
  background-color: rgb(112, 111, 111);
}

.crew-role,
.crew-name {
  font-family: "Bellefair";
  font-weight: lighter;
  color: #d9d9d9ab;
  font-size: 16px;
  margin-bottom: 10px;
}

.crew-name {
  font-size: 24px;
  color: #d9d9d9;
  margin-bottom: 15px;
}

.crew-bio,
.travel-tech-description {
  font-family: "Barlow";
  font-size: 15px;
  font-weight: lighter;
  line-height: 25px;
  color: #d0d6f9;
}

/* Technology */

.technology-bg {
  min-height: 100vh;
  background-image: url(/public/assets/technology/background-technology-mobile.jpg);
}

.tech-image {
  width: 100%;
  height: 170px;
  margin: 1rem 0 1.5rem 0;
}

.tech-id,
.tech-id-inactive {
  font-family: "Bellefair";
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  outline: none;
  margin-right: 10px;
}

.tech-id-inactive {
  background-color: #0b0d170b;
  color: #fff;
  border: 1px solid #383b4b;
}
.travel-tech-terminology {
  font-family: "Barlow Condensed";
  letter-spacing: 2.36px;
  color: #d0d6f9;
  margin: 10px 0;
  font-weight: normal;
  font-size: 14px;
}

.travel-tech-name {
  font-family: "Bellefair";
  font-weight: normal;
  font-size: 24px;
  color: #d9d9d9;
  margin-bottom: 10px;
}

@media (min-width: 428px) {
  .mobile-bg-home,
  .destination-bg,
  .crew-bg,
  .technology-bg {
    min-height: 100vh;
    background-image: url(/public/assets/home/background-home-tablet.jpg);
    padding: 0;
  }

  .destination-bg {
    min-height: 100vh;
    background-image: url(/public/assets/destination/background-destination-desktop.jpg);
  }

  .crew-bg {
    min-height: 100vh;
    background-image: url(/public/assets/crew/background-crew-tablet.jpg);
  }

  .technology-bg {
    min-height: 100vh;
    background-image: url(/public/assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 568px) {
  .home-wrapper {
    margin: 4rem;
  }
  .destination-page-container {
    margin: 5rem;
  }

  .crew-container {
    margin: 5rem;
  }
  .crew-content {
    margin-top: 2rem;
  }

  .tech-page-conatiner {
    margin-top: 5rem;
  }

  /* Technology tab */
}

/* left tab screen */
@media (min-width: 768px) {
  /* home Page */

  .mobile-bg-home,
  .destination-bg,
  .crew-bg,
  .technology-bg {
    min-height: 100vh;
    background-image: url(/public/assets/home/background-home-tablet.jpg);
    padding: 0;
  }

  .home-wrapper {
    gap: 8rem;
  }

  .hero-section {
    margin: 7rem 10rem 0;
  }

  .page-heading {
    letter-spacing: 3.38px;
    font-size: 20px;
  }

  .home-title {
    font-size: 150px;
    line-height: 150px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-family: bellefair;
  }

  .home-page-paragraph {
    line-height: 28px;
  }

  .mobile-explore-btn {
    height: 242px;
    width: 242px;
    font-size: 32px;
    letter-spacing: 2px;
  }

  /* Destination page */
  /* Tab */
  .destination-bg {
    min-height: 100vh;
    background-image: url(/public/assets/destination/background-destination-tablet.jpg);
    padding: 0;
  }

  .destination-page-container {
    margin: 3rem;
    max-width: 900px;
    margin: 0 auto;
  }
  .page-heading {
    text-align: left;
    margin: 2rem 0 0 3rem;
  }

  .page-heading-id {
    font-size: 20px;
  }

  .planet-image {
    margin: 2rem;
    width: 300px;
    height: 300px;
  }
  .destination-names {
    gap: 35px;
  }
  .active-dest-name {
    font-size: 80px;
    margin: 25px 0 15px;
  }

  .dest-content {
    line-height: 28px;
    padding: 0 68px;
  }
  .distance-time-container {
    flex-direction: row;
    gap: 7rem;
  }

  .travel-distance-time-value {
    margin-top: 1rem;
  }

  /* Crew */
  .crew-bg {
    min-height: 100vh;
    background-image: url(/public/assets/crew/background-crew-tablet.jpg);
    padding: 0;
  }

  .crew-container {
    margin: 0;
  }

  .crew-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 4rem 4rem 0;
  }

  .crew-info {
    display: flex;
    flex-flow: column-reverse;
  }

  .crew-demaction-line {
    display: none;
  }

  .crew-role {
    font-size: 24px;
  }
  .crew-name {
    font-size: 40px;
  }
  .crew-bio {
    line-height: 28px;
    max-width: 460px;
  }

  /* Technology tab */

  .technology-bg {
    min-height: 100vh;
    background-image: url(/public/assets/technology/background-technology-tablet.jpg);
  }

  .tech-page-conatiner {
    margin-top: 0;
  }

  .tech-container {
    margin-inline: auto;
    max-width: 900px;
  }

  .tech-image {
    margin: 3rem 0;
    height: 310px;
  }

  .tech-id,
  .tech-id-inactive {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .tech-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 0 0;
  }

  .travel-tech-terminology {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  .travel-tech-name {
    font-size: 40px;
  }

  .travel-tech-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 452px;
  }
}

/* right big screen */
@media (min-width: 1440px) {
  /* home  Page*/
  .mobile-bg-home,
  .destination-bg,
  .crew-bg,
  .technology-bg {
    min-height: 100vh;
    background-image: url(/public/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #d0d6f9;
    text-align: center;
  }

  .home-wrapper {
    flex-direction: row;
    margin: 15rem 9rem;
  }

  .hero-section {
    width: 450px;
    height: 382px;
    margin: 0;
    text-align: justify;
    display: grid;
  }
  .page-heading {
    letter-spacing: 4.72px;
    font-size: 28px;
  }
  .home-page-paragraph {
    font-size: 18px;
    line-height: 32px;
  }

  /* Destination page */
  /* desktop*/
  .destination-bg {
    min-height: 100vh;
    background-image: url(/public/assets/destination/background-destination-desktop.jpg);
    padding: 0;
  }

  .page-heading {
    margin: 2rem 0 0 0;
  }

  .page-heading-id {
    font-size: 28px;
  }

  .destination-page-container {
    margin: 6rem auto;
    max-width: 1600px;
    padding: 0 8rem;
  }

  .destination-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8rem;
    margin-top: 2rem;
    text-align: left;
  }

  .planet-image {
    width: 445px;
    height: 445px;
  }
  .destination-sub-content {
    width: 445px;
    padding-right: 1rem;
  }

  .destination-names {
    justify-content: flex-start;
  }
  .active-dest-name {
    font-size: 100px;
  }

  .dest-content {
    line-height: 32px;
    font-size: 18px;
    padding: 0;
  }

  /* Crew */
  .crew-bg {
    min-height: 100vh;
    background-image: url(/public/assets/crew/background-crew-desktop.jpg);
    padding: 0;
  }
  .crew-container {
    margin: 0;
    margin: 6rem auto;
    padding: 0 8rem;
    max-width: 1600px;
  }
  .crew-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0;
  }
  .crew-info {
    text-align: left;
    align-items: flex-start;
  }
  .crew-role {
    font-size: 32px;
  }
  .crew-name {
    font-size: 56px;
  }
  .crew-bio {
    font-size: 18px;
    line-height: 32px;
    max-width: 460px;
  }
  .indicator {
    width: 1rem;
    height: 1rem;
  }

  /* Technology */
  .technology-bg {
    min-height: 100vh;
    background-image: url(/public/assets/technology/background-technology-desktop.jpg);
  }

  .tech-page-conatiner {
    padding-left: 8rem;
    max-width: 1600px;
  }

  .tech-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: inherit;
  }

  .tech-image {
    width: 515px;
    height: 527px;
  }

  .tech-id,
  .tech-id-inactive {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }
  .tech-id-and-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .tech-id-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .tech-details {
    align-items: flex-start;
    text-align: left;
  }

  .travel-tech-name {
    font-size: 56px;
  }

  .travel-tech-description {
    font-size: 18px;
    line-height: 32px;
  }
}
